h1 {
  color: crimson;
}

.layout {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  color: black;
}

article {
  background-color: crimson;
  padding: 20px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
